In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df = pd.read_csv('data/pollution_us_2000_2016.csv')
display(df)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [3]:
df = df.drop(columns=['Unnamed: 0', 'NO2 Units', 'O3 Units', 'SO2 Units', 'CO Units'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746661 entries, 0 to 1746660
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   State Code         int64
 1   County Code        int64
 2   Site Num           int64
 3   Address            object
 4   State              object
 5   County             object
 6   City               object
 7   Date Local         object
 8   NO2 Mean           float64
 9   NO2 1st Max Value  float64
 10  NO2 1st Max Hour   int64
 11  NO2 AQI            int64
 12  O3 Mean            float64
 13  O3 1st Max Value   float64
 14  O3 1st Max Hour    int64
 15  O3 AQI             int64
 16  SO2 Mean           float64
 17  SO2 1st Max Value  float64
 18  SO2 1st Max Hour   int64
 19  SO2 AQI            float64
 20  CO Mean            float64
 21  CO 1st Max Value   float64
 22  CO 1st Max Hour    int64
 23  CO AQI             float64
dtypes: float64(10), int64(9), object(5)
memory usage: 319.8+ MB

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1741629 entries, 0 to 1746660
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   State Code         int64
 1   County Code        int64
 2   Site Num           int64
 3   Address            object
 4   State              object
 5   County             object
 6   City               object
 7   Date Local         object
 8   NO2 Mean           float64
 9   NO2 1st Max Value  float64
 10  NO2 1st Max Hour   int64
 11  NO2 AQI            int64
 12  O3 Mean            float64
 13  O3 1st Max Value   float64
 14  O3 1st Max Hour    int64
 15  O3 AQI             int64
 16  SO2 Mean           float64
 17  SO2 1st Max Value  float64
 18  SO2 1st Max Hour   int64
 19  SO2 AQI            float64
 20  CO Mean            float64
 21  CO 1st Max Value   float64
 22  CO 1st Max Hour    int64
 23  CO AQI             float64
dtypes: float64(10), int64(9), object(5)
memory usage: 332.2+ MB

In [7]:
df.describe()

,State Code,County Code,Site Num,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
count,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,1.741629e+06,871285.000000,1.741629e+06,1.741629e+06,1.741629e+06,870641.000000
mean,2.227342e+01,7.161298e+01,1.120184e+03,1.282225e+01,2.541112e+01,1.172808e+01,2.389458e+01,2.611990e-02,3.919667e-02,1.016794e+01,3.603631e+01,1.872209e+00,4.496270e+00,9.663176e+00,7.121317,3.683295e-01,6.203171e-01,7.872603e+00,5.995909
std,1.724575e+01,7.954513e+01,2.004000e+03,9.509134e+00,1.599956e+01,7.876583e+00,1.516127e+01,1.136705e-02,1.533386e-02,4.002038e+00,1.974284e+01,2.762601e+00,7.685450e+00,6.729269e+00,11.942978,3.139755e-01,6.438836e-01,7.977721e+00,5.845416
min,1.000000e+00,1.000000e+00,1.000000e+00,-2.000000e+00,-2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.000000e+00,-2.000000e+00,0.000000e+00,0.000000,-4.375000e-01,-4.000000e-01,0.000000e+00,0.000000
25%,6.000000e+00,1.700000e+01,9.000000e+00,5.750000e+00,1.300000e+01,5.000000e+00,1.200000e+01,1.787500e-02,2.900000e-02,9.000000e+00,2.500000e+01,2.571430e-01,9.000000e-01,5.000000e+00,1.000000,1.833330e-01,2.920000e-01,0.000000e+00,2.000000
50%,1.700000e+01,5.900000e+01,6.000000e+01,1.073913e+01,2.400000e+01,9.000000e+00,2.300000e+01,2.587500e-02,3.800000e-02,1.000000e+01,3.300000e+01,9.875000e-01,2.000000e+00,8.000000e+00,3.000000,2.939130e-01,4.000000e-01,6.000000e+00,5.000000
75%,4.000000e+01,9.700000e+01,1.039000e+03,1.771429e+01,3.560000e+01,2.000000e+01,3.300000e+01,3.388900e-02,4.800000e-02,1.100000e+01,4.200000e+01,2.328571e+00,5.000000e+00,1.400000e+01,9.000000,4.666670e-01,8.000000e-01,1.300000e+01,8.000000
max,8.000000e+01,6.500000e+02,9.997000e+03,1.395417e+02,2.670000e+02,2.300000e+01,1.320000e+02,9.508300e-02,1.410000e-01,2.300000e+01,2.180000e+02,3.216250e+02,3.510000e+02,2.300000e+01,200.000000,7.508333e+00,1.990000e+01,2.300000e+01,201.000000

In [8]:
# check for unique state in the data
df['State'].nunique()

47

In [9]:
# check for unique country in the data
df['County'].nunique()

133

In [10]:
# check for unique City in the data
df['City'].nunique()

144

In [11]:
# check for missing value 
df.isna().sum()

State Code                0
County Code               0
Site Num                  0
Address                   0
State                     0
County                    0
City                      0
Date Local                0
NO2 Mean                  0
NO2 1st Max Value         0
NO2 1st Max Hour          0
NO2 AQI                   0
O3 Mean                   0
O3 1st Max Value          0
O3 1st Max Hour           0
O3 AQI                    0
SO2 Mean                  0
SO2 1st Max Value         0
SO2 1st Max Hour          0
SO2 AQI              870344
CO Mean                   0
CO 1st Max Value          0
CO 1st Max Hour           0
CO AQI               870988
dtype: int64

In [21]:
# convert Date local to python date and time 
df['date'] =  pd.to_datetime(df['Date Local'])

#delete original data column
df = df.drop(columns=['Date Local'])

# check descriptive statistics for date
df['date'].describe(datetime_is_numeric=True)

count                          1741629
mean     2008-10-12 22:57:38.410464768
min                2000-01-01 00:00:00
25%                2004-11-20 00:00:00
50%                2009-01-31 00:00:00
75%                2012-11-07 00:00:00
max                2016-05-31 00:00:00
Name: date, dtype: object

In [22]:
display(df)

,State Code,County Code,Site Num,Address,State,County,City,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,...,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,date
0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,19.041667,49.0,19,...,34,3.000000,9.0,21,13.0,1.145833,4.200,21,NaN,2000-01-01
1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,19.041667,49.0,19,...,34,3.000000,9.0,21,13.0,0.878947,2.200,23,25.0,2000-01-01
2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,19.041667,49.0,19,...,34,2.975000,6.6,23,NaN,1.145833,4.200,21,NaN,2000-01-01
3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,19.041667,49.0,19,...,34,2.975000,6.6,23,NaN,0.878947,2.200,23,25.0,2000-01-01
4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,22.958333,36.0,19,...,27,1.958333,3.0,22,4.0,0.850000,1.600,23,NaN,2000-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,1.083333,1.6,9,...,44,0.000000,0.0,2,NaN,0.091667,0.100,2,1.0,2016-03-30
1746657,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.939130,1.3,5,...,44,-0.022727,0.0,0,0.0,0.067714,0.127,0,NaN,2016-03-31
1746658,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.939130,1.3,5,...,44,-0.022727,0.0,0,0.0,0.100000,0.100,0,1.0,2016-03-31
1746659,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.939130,1.3,5,...,44,0.000000,0.0,5,NaN,0.067714,0.127,0,NaN,2016-03-31
1746660,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,0.939130,1.3,5,...,44,0.000000,0.0,5,NaN,0.100000,0.100,0,1.0,2016-03-31

In [24]:
df.to_csv('data/reduced_dataset.csv', index=False)